.tarjeta2{
   
    margin: 3%;
    font-size: medium;
    text-align: center;
    box-sizing: border-box;
    width: 40%;
   
}
.tarjeta2 img {
    width: 80%;
}
.tarjeta2 p{
    font-size: 30px;
    
}
.padre {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
   
    align-items: stretch;
}

