 
.hijo{
    width: 25%;
}

.hijo p{
    text-align: center;
}

.hijo h1{
    text-align: center;
}

.hide{
    display: none;
}

.show{
    display: block;
}


.infor{
    color: blue;
    text-decoration: underline;
}
